html,body {
    margin: auto;
}


.name{
    background-color: grey;
    font-size: 80px;
    text-align:left;
    max-width: 100%;
    padding-left: 4%;
    padding-top: 2%;
   
  }

/* footer */
.footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #D0DDEE;
    padding: 1px;
    text-align: center;
  }
  
  .footer .mailto {
    float: left; 
    width: 33.33%;
  }
  
  .footer .mailto a{
    text-decoration: none;
    color: black;
  }
  
  .footer .tnc {
    float: left; 
    width: 33.33%;
  } 
  
  .footer .tnc a{
    text-decoration: none;
    color: black;
  } 
  
  .footer .copy {
    width: 33.33%;
    float: left;
  }
  .footer .copy a{
    text-decoration: none;
    color: black;
  }

  /* Navigation */
  .nav {
    margin-top: 0%;
    margin-left: 71%;
    font-size: large;
    }
  
  .nav a {
    margin-left: 5%;
    text-decoration: none;
    color: black;
    }
    
  .nav a:hover{
    color: grey;
    border-bottom: 2px solid black;
  }