html{
  margin: auto;
}

body {
  margin: auto;
  background-image: url("raigadf1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

  /* Header */

.name {
    font-size: 80px;
    text-align:left;
    max-width: 100%;
    margin-left: 4%;
    margin-top: 2%;
   
  }
/* Navigation */
.nav {
  margin-top: 0%;
  margin-left: 71%;
  font-size: large;
  }

.nav a {
  margin-left: 5%;
  text-decoration: none;
  color: black;
  }
  
.nav a:hover{
  color: grey;
  border-bottom: 3px solid black;
}

/* footer */

.footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #D0DDEE;
  padding: 1px;
  text-align: center;
}

.footer .mailto {
  float: left; 
  width: 33.33%;
}

.footer .mailto a{
  text-decoration: none;
  color: black;
}

.footer .tnc {
  float: left; 
  width: 33.33%;
} 

.footer .tnc a{
  text-decoration: none;
  color: black;
} 

.footer .copy {
  width: 33.33%;
  float: left;
}
.footer .copy a{
  text-decoration: none;
  color: black;
}

/* page description */

.description a{
  color:white;
  font-size: 30px;
  text-decoration: none;
}

.description {
  text-align: center;
  margin-top: 10%;
  font-size: 30px;
  color: white;
}