body {
    background-color: #F5F5DC;
    color: #2E0000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("images/background.gif");
}


nav {
    text-align: center;
    padding-top: 0%;
    float: left;
    width: 160px;
    padding: 10px;
}

nav a {
    text-decoration: none;
    padding-right: 1em;
    font-size: 1.3em;
    width: 8em;
    font-weight: bold;
    border-style: none;
    padding-bottom: 15px;
}

nav a:link {
    color: #795240;
}

nav a:visited {
    color: #A58366;
}

nav a:hover {
    color: #F5F5DC;
}

nav ul {
    padding: 0;
    margin: 0%;
    list-style-type: none;
    padding-left: 0%;
    font-size: 1.2em;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100px;
    margin: 0%;
    background-image: url("images/javalogo.gif");
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
    background-color: #CCAA66;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    background-color: #E6D6A9;
    text-transform: uppercase;
}

P {
    clear: left;
}

dt {
    font-weight: bold;
}

footer {
    font-size: .60em;
    text-align: center;
    font-style: italic;
    padding: 10px;
    background-color: #D2B48C;
    color: black;
}

footer a:link{
    color: #2e0000;
}

footer a :visited {
    color: black;
}

footer a:hover{
    color: #F5F5DC;
}

#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #E2D2B0;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 3px 3px 3px #2E0000;
}

main {
    padding: 20px;
    display: block;
    background-color: #F5F5DC;
    margin-left: 175px;
  
}

main img {
    float: left;
    padding-right: 2em;
}

main ul {
    list-style-image: url("images/icon.png");
    list-style-position: inside;
}

main div {
    overflow: auto;
    font-size: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

#hero {
    height: 300px;
    color: #F5F5DC;
    background-image: url("images/heroroad.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#news {
    margin-left: 20%;
    margin-right: 20%;
}