body {

    background-color: skyblue;
    color: red;
}

header {

    background-color:yellow;
    color: black;
}

nav {
    background-color: yellow;
}

li {
    color: green;
}

.resort {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;    
}