
.about {
    font-size: 100px;
    padding-left: 5%;
    padding-top: 4%;
    text-align: center;
    
}

nav {
    margin-top: 5%;
    margin-left: 60%;
   
  }
nav a {
      padding-left: 10%;
      text-decoration: none;
      color: black;
  }
  
  footer {
    padding-top: 600px;
    text-align: center;
   
}

 footer a{
    color: white;
    text-decoration: none;
}

.description {
    vertical-align: middle;
    margin: 5%;
    text-align: center;
    color:black;
    font-size: 20px;
}