html,body {
    margin: auto;
}

body {
    background-image: url('tailbaila.JPG');
    background-attachment: fixed; 
    background-size: 100% 100%;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  } 


.name {
    font-size: 80px;
    text-align:left;
    max-width: 100%;
    margin-left: 4%;
    margin-top: 2%;
   
  }

/* Navigation */
    .nav {
    margin-top: 0%;
    margin-left: 71%;
    font-size: large;
    }
    
    .nav a {
    margin-left: 5%;
    text-decoration: none;
    color: black;
    }
    
    .nav a:hover{
    color: grey;
    border-bottom: 2px solid black;
    }
    
/* footer */

.footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #D0DDEE;
  padding: 1px;
  text-align: center;
}

.footer .mailto {
  float: left; 
  width: 33.33%;
}

.footer .mailto a{
  text-decoration: none;
  color: black;
}

.footer .tnc {
  float: left; 
  width: 33.33%;
} 

.footer .tnc a{
  text-decoration: none;
  color: black;
} 

.footer .copy {
  width: 33.33%;
  float: left;
}
.footer .copy a{
  text-decoration: none;
  color: black;
}

.description {
    vertical-align: middle;
    margin: 5%;
    text-align: center;
    color:black;
    font-size: 20px;
}

/* about container */
.container {
  
  width: 80%;
  margin: 50px auto;
  color:black;
  margin-top: 10%;
}

.about-box{

  background:white;
  display: flex;

}

.about-left {
  flex-basis: 30%;
  padding: 40px 60px;
  background: #8BA753;
  /* color: white; */
  font-size: large;
}


.about-right {
  flex-basis: 70%;
  background: white;
  padding: 40px 60px;
  font-size: large;
  text-align: justify;
}

li {
  margin-top: 2%;
}