html,body{
  margin: auto;
}

body {
  background-image: url("rajgadf2.jpg");
  background-attachment: fixed; 
  background-size: 100% 100%;
  margin: auto;

}
 /* Header */

.name {
  font-size: 80px;
  text-align:left;
  max-width: 100%;
  margin-left: 4%;
  margin-top: 2%;
 
}
/* Navigation */
.nav {
margin-top: 0%;
margin-left: 71%;
}

.nav a {
margin-left: 5%;
text-decoration: none;
color: black;
}

.nav a:hover{
color: white;
border-bottom: 2px solid black;
}

/* footer */

footer {
background-color: #2D4F21;
margin-top: 630px;
text-align: center; 
}

footer a{
color: white;
text-decoration: none;
}

.description a{
  color: black;
  font-size: 30px;
  text-decoration: none;
}

.description {
  text-align: center;
  margin-top: 10%;
  font-size: 30px;
}