
body {
  background-image: url('Background.JPG');
  background-attachment: fixed; 
  background-size: 100% 100%;
  margin: auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  /* Header */
.com{
    font-size: 15px;
    color: white;
  }
.forts {
    background: color C 49393;
    font-size: 80px;
    text-align:left;
    max-width: 100%;
    margin-left: 4%;
    margin-top: 2%;
   
  }
/* Navigation */
  .nav {
  margin-top: 0%;
  margin-left: 71%;
  }

.nav a {
  margin-left: 5%;
  text-decoration: none;
  color: black;
  }
  
.nav a:hover{
  color: grey;
  border-bottom: 2px solid black;
}
/* page description */
.description {
  vertical-align: middle;
  margin-top: 10%;
  text-align: center;
  color:white;
  font-size: 30px;
}

/* Row and col */
.row {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
  text-align: center;
}

.row .col-4{
  width: 33.33%;
  float: left;
}

.col-4 a {
  text-decoration: none;
  color: white;
  }

.col-4 img {
  height: 250px;
  width: 250px;
  border: 2px solid black;
  } 


/* row col description */
.des {
  color: white;
  padding: 10px;
  text-align: center;
}

/* footer */
  
footer {
  background-color: #2D4F21;
  margin-top: 600px;
  text-align: center; 
}

footer a{
  color: white;
  text-decoration: none;
}

